body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:949px;
}
#u7054 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:949px;
}
#u7055 {
  position:absolute;
  left:2px;
  top:466px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7056 {
  position:absolute;
  left:154px;
  top:99px;
  width:667px;
  height:40px;
}
#u7056_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:673px;
  height:46px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7057 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:45px;
}
#u7058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u7058 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  color:#FFFFFF;
}
#u7059 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u7060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u7060 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:40px;
}
#u7061 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u7062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u7062 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:40px;
}
#u7063 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u7064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
}
#u7064 {
  position:absolute;
  left:400px;
  top:0px;
  width:133px;
  height:40px;
}
#u7065 {
  position:absolute;
  left:2px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
#u7066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u7066 {
  position:absolute;
  left:533px;
  top:0px;
  width:134px;
  height:40px;
}
#u7067 {
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u7068 {
  position:absolute;
  left:154px;
  top:156px;
  width:200px;
  height:700px;
}
#u7068_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:706px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7069 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:705px;
}
#u7070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u7070 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u7071 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u7072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u7072 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:40px;
  text-align:left;
}
#u7073 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u7074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u7074 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:40px;
  text-align:left;
}
#u7075 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u7076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u7076 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:40px;
  text-align:left;
}
#u7077 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u7078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:500px;
}
#u7078 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:500px;
  text-align:left;
}
#u7079 {
  position:absolute;
  left:10px;
  top:242px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u7080 {
  position:absolute;
  left:0px;
  top:660px;
  width:200px;
  height:40px;
}
#u7081 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u7082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:787px;
}
#u7082 {
  position:absolute;
  left:364px;
  top:156px;
  width:980px;
  height:787px;
}
#u7083 {
  position:absolute;
  left:2px;
  top:386px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7084 {
  position:absolute;
  left:1152px;
  top:156px;
  width:58px;
  height:25px;
}
#u7085 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
