body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:731px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3991 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3992 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3993 {
  position:absolute;
  left:82px;
  top:574px;
  width:70px;
  height:51px;
}
#u3994 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3995 {
  position:absolute;
  left:217px;
  top:574px;
  width:70px;
  height:51px;
}
#u3996 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3997 {
  position:absolute;
  left:165px;
  top:610px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u3998 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3999 {
  position:absolute;
  left:313px;
  top:611px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u4000 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u4001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:35px;
}
#u4001 {
  position:absolute;
  left:17px;
  top:66px;
  width:197px;
  height:35px;
}
#u4002 {
  position:absolute;
  left:2px;
  top:10px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u4003 {
  position:absolute;
  left:255px;
  top:72px;
  width:113px;
  height:19px;
}
#u4004 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:476px;
}
#u4005 {
  position:absolute;
  left:0px;
  top:96px;
  width:375px;
  height:476px;
}
#u4006 {
  position:absolute;
  left:2px;
  top:230px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
}
#u4007 {
  position:absolute;
  left:400px;
  top:178px;
  width:319px;
  height:68px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4008 {
  position:absolute;
  left:2px;
  top:6px;
  width:315px;
  word-wrap:break-word;
}
#u4009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4009 {
  position:absolute;
  left:400px;
  top:143px;
  width:93px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4010 {
  position:absolute;
  left:10px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u4011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2214px;
}
#u4011 {
  position:absolute;
  left:0px;
  top:706px;
  width:375px;
  height:2214px;
}
#u4012 {
  position:absolute;
  left:2px;
  top:1099px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:33px;
}
#u4013 {
  position:absolute;
  left:400px;
  top:296px;
  width:331px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4014 {
  position:absolute;
  left:2px;
  top:6px;
  width:327px;
  word-wrap:break-word;
}
#u4015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4015 {
  position:absolute;
  left:400px;
  top:261px;
  width:93px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4016 {
  position:absolute;
  left:10px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u4017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4017 {
  position:absolute;
  left:332px;
  top:522px;
  width:40px;
  height:40px;
}
#u4018 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:2px;
}
#u4019 {
  position:absolute;
  left:340px;
  top:534px;
  width:22px;
  height:1px;
}
#u4020 {
  position:absolute;
  left:2px;
  top:-8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4021_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:30px;
}
#u4021p000 {
  position:absolute;
  left:-10px;
  top:8px;
  width:22px;
  height:3px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4021p000_img {
  position:absolute;
  left:-15px;
  top:-6px;
  width:44px;
  height:14px;
}
#u4021p001 {
  position:absolute;
  left:-9px;
  top:-5px;
  width:20px;
  height:20px;
}
#u4021p001_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:40px;
  height:32px;
}
#u4021.compound {
  width:0px;
  height:0px;
}
#u4021 {
  position:absolute;
  left:351px;
  top:535px;
  width:2px;
  height:19px;
}
#u4022 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF3333;
  text-align:center;
}
#u4023 {
  position:absolute;
  left:148px;
  top:1274px;
  width:82px;
  height:22px;
  font-size:18px;
  color:#FF3333;
  text-align:center;
}
#u4024 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  background:inherit;
  background-color:rgba(249, 70, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4025 {
  position:absolute;
  left:145px;
  top:1939px;
  width:82px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4026 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF3333;
  text-align:center;
}
#u4027 {
  position:absolute;
  left:145px;
  top:2615px;
  width:82px;
  height:22px;
  font-size:18px;
  color:#FF3333;
  text-align:center;
}
#u4028 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
