body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:949px;
}
#u4954 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:949px;
}
#u4955 {
  position:absolute;
  left:2px;
  top:466px;
  width:1916px;
  word-wrap:break-word;
}
#u4956 {
  position:absolute;
  left:146px;
  top:351px;
  width:1355px;
  height:540px;
}
#u4957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:35px;
}
#u4957 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:35px;
  color:#FFFFFF;
}
#u4958 {
  position:absolute;
  left:2px;
  top:10px;
  width:446px;
  word-wrap:break-word;
}
#u4959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u4959 {
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:35px;
  color:#FFFFFF;
}
#u4960 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u4961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u4961 {
  position:absolute;
  left:600px;
  top:0px;
  width:200px;
  height:35px;
  color:#FFFFFF;
}
#u4962 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u4963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u4963 {
  position:absolute;
  left:800px;
  top:0px;
  width:150px;
  height:35px;
  color:#FFFFFF;
}
#u4964 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u4965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u4965 {
  position:absolute;
  left:950px;
  top:0px;
  width:200px;
  height:35px;
  color:#FFFFFF;
}
#u4966 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u4967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u4967 {
  position:absolute;
  left:1150px;
  top:0px;
  width:200px;
  height:35px;
  color:#FFFFFF;
}
#u4968 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u4969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:100px;
}
#u4969 {
  position:absolute;
  left:0px;
  top:35px;
  width:450px;
  height:100px;
}
#u4970 {
  position:absolute;
  left:2px;
  top:42px;
  width:446px;
  word-wrap:break-word;
}
#u4971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u4971 {
  position:absolute;
  left:450px;
  top:35px;
  width:150px;
  height:100px;
}
#u4972 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u4973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u4973 {
  position:absolute;
  left:600px;
  top:35px;
  width:200px;
  height:100px;
}
#u4974 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u4975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u4975 {
  position:absolute;
  left:800px;
  top:35px;
  width:150px;
  height:100px;
}
#u4976 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u4977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u4977 {
  position:absolute;
  left:950px;
  top:35px;
  width:200px;
  height:100px;
}
#u4978 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u4979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u4979 {
  position:absolute;
  left:1150px;
  top:35px;
  width:200px;
  height:100px;
}
#u4980 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:100px;
}
#u4981 {
  position:absolute;
  left:0px;
  top:135px;
  width:450px;
  height:100px;
}
#u4982 {
  position:absolute;
  left:2px;
  top:42px;
  width:446px;
  word-wrap:break-word;
}
#u4983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u4983 {
  position:absolute;
  left:450px;
  top:135px;
  width:150px;
  height:100px;
}
#u4984 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u4985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u4985 {
  position:absolute;
  left:600px;
  top:135px;
  width:200px;
  height:100px;
}
#u4986 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u4987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u4987 {
  position:absolute;
  left:800px;
  top:135px;
  width:150px;
  height:100px;
}
#u4988 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u4989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u4989 {
  position:absolute;
  left:950px;
  top:135px;
  width:200px;
  height:100px;
}
#u4990 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u4991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u4991 {
  position:absolute;
  left:1150px;
  top:135px;
  width:200px;
  height:100px;
}
#u4992 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:100px;
}
#u4993 {
  position:absolute;
  left:0px;
  top:235px;
  width:450px;
  height:100px;
}
#u4994 {
  position:absolute;
  left:2px;
  top:42px;
  width:446px;
  word-wrap:break-word;
}
#u4995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u4995 {
  position:absolute;
  left:450px;
  top:235px;
  width:150px;
  height:100px;
}
#u4996 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u4997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u4997 {
  position:absolute;
  left:600px;
  top:235px;
  width:200px;
  height:100px;
}
#u4998 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u4999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u4999 {
  position:absolute;
  left:800px;
  top:235px;
  width:150px;
  height:100px;
}
#u5000 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u5001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u5001 {
  position:absolute;
  left:950px;
  top:235px;
  width:200px;
  height:100px;
}
#u5002 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u5003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u5003 {
  position:absolute;
  left:1150px;
  top:235px;
  width:200px;
  height:100px;
}
#u5004 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:100px;
}
#u5005 {
  position:absolute;
  left:0px;
  top:335px;
  width:450px;
  height:100px;
}
#u5006 {
  position:absolute;
  left:2px;
  top:42px;
  width:446px;
  word-wrap:break-word;
}
#u5007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u5007 {
  position:absolute;
  left:450px;
  top:335px;
  width:150px;
  height:100px;
}
#u5008 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u5009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u5009 {
  position:absolute;
  left:600px;
  top:335px;
  width:200px;
  height:100px;
}
#u5010 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u5011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u5011 {
  position:absolute;
  left:800px;
  top:335px;
  width:150px;
  height:100px;
}
#u5012 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u5013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u5013 {
  position:absolute;
  left:950px;
  top:335px;
  width:200px;
  height:100px;
}
#u5014 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u5015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u5015 {
  position:absolute;
  left:1150px;
  top:335px;
  width:200px;
  height:100px;
}
#u5016 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:100px;
}
#u5017 {
  position:absolute;
  left:0px;
  top:435px;
  width:450px;
  height:100px;
}
#u5018 {
  position:absolute;
  left:2px;
  top:42px;
  width:446px;
  word-wrap:break-word;
}
#u5019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u5019 {
  position:absolute;
  left:450px;
  top:435px;
  width:150px;
  height:100px;
}
#u5020 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u5021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u5021 {
  position:absolute;
  left:600px;
  top:435px;
  width:200px;
  height:100px;
}
#u5022 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u5023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u5023 {
  position:absolute;
  left:800px;
  top:435px;
  width:150px;
  height:100px;
}
#u5024 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u5025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u5025 {
  position:absolute;
  left:950px;
  top:435px;
  width:200px;
  height:100px;
}
#u5026 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u5027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u5027 {
  position:absolute;
  left:1150px;
  top:435px;
  width:200px;
  height:100px;
}
#u5028 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5029 {
  position:absolute;
  left:481px;
  top:390px;
  width:13px;
  height:16px;
  color:#FFFFFF;
}
#u5030 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u5031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5031 {
  position:absolute;
  left:562px;
  top:390px;
  width:13px;
  height:16px;
  color:#FFFFFF;
}
#u5032 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u5033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5033 {
  position:absolute;
  left:643px;
  top:390px;
  width:13px;
  height:16px;
  color:#FFFFFF;
}
#u5034 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u5035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5035 {
  position:absolute;
  left:720px;
  top:390px;
  width:13px;
  height:16px;
  color:#FFFFFF;
}
#u5036 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u5037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5037 {
  position:absolute;
  left:800px;
  top:390px;
  width:13px;
  height:16px;
  color:#FFFFFF;
}
#u5038 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u5039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5039 {
  position:absolute;
  left:879px;
  top:390px;
  width:13px;
  height:16px;
  color:#FFFFFF;
}
#u5040 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u5041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5041 {
  position:absolute;
  left:962px;
  top:390px;
  width:13px;
  height:16px;
  color:#FFFFFF;
}
#u5042 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u5043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5043 {
  position:absolute;
  left:1039px;
  top:390px;
  width:13px;
  height:16px;
  color:#FFFFFF;
}
#u5044 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u5045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5045 {
  position:absolute;
  left:1122px;
  top:390px;
  width:13px;
  height:16px;
  color:#FFFFFF;
}
#u5046 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u5047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5047 {
  position:absolute;
  left:1199px;
  top:390px;
  width:41px;
  height:16px;
  color:#FFFFFF;
}
#u5048 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u5049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5049 {
  position:absolute;
  left:1281px;
  top:390px;
  width:42px;
  height:16px;
  color:#FFFFFF;
}
#u5050 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u5051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5051 {
  position:absolute;
  left:1357px;
  top:390px;
  width:52px;
  height:16px;
  color:#FFFFFF;
}
#u5052 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u5053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u5053 {
  position:absolute;
  left:1381px;
  top:428px;
  width:29px;
  height:15px;
  color:#0066FF;
}
#u5054 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5055 {
  position:absolute;
  left:400px;
  top:300px;
  width:230px;
  height:30px;
  font-size:14px;
}
#u5056 {
  position:absolute;
  left:2px;
  top:7px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5057 {
  position:absolute;
  left:408px;
  top:303px;
  width:213px;
  height:25px;
}
#u5057_input {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5058 {
  position:absolute;
  left:605px;
  top:307px;
  width:16px;
  height:16px;
  font-size:14px;
}
#u5059 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5060 {
  position:absolute;
  left:311px;
  top:300px;
  width:79px;
  height:30px;
  font-size:14px;
}
#u5061 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u5062 {
  position:absolute;
  left:325px;
  top:307px;
  width:29px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u5063 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u5064 {
  position:absolute;
  left:365px;
  top:311px;
  width:15px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:14px;
}
#u5065 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u5066 {
  position:absolute;
  left:146px;
  top:300px;
  width:115px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u5067 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u5068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5068 {
  position:absolute;
  left:260px;
  top:300px;
  width:42px;
  height:30px;
  font-size:14px;
}
#u5069 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  word-wrap:break-word;
}
#u5070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u5070 {
  position:absolute;
  left:241px;
  top:311px;
  width:15px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:14px;
}
#u5071 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1357px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5072 {
  position:absolute;
  left:146px;
  top:90px;
  width:1357px;
  height:190px;
}
#u5073 {
  position:absolute;
  left:2px;
  top:87px;
  width:1353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1358px;
  height:2px;
}
#u5074 {
  position:absolute;
  left:146px;
  top:135px;
  width:1357px;
  height:1px;
}
#u5075 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5076 {
  position:absolute;
  left:155px;
  top:108px;
  width:85px;
  height:16px;
}
#u5077 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5078 {
  position:absolute;
  left:361px;
  top:101px;
  width:113px;
  height:30px;
  font-size:14px;
}
#u5078_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(239, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5078.mouseOver {
}
#u5078_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5078.selected {
}
#u5079 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u5080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5080 {
  position:absolute;
  left:478px;
  top:101px;
  width:113px;
  height:30px;
  font-size:14px;
}
#u5080_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(239, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5080.mouseOver {
}
#u5080_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5080.selected {
}
#u5081 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u5082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5082 {
  position:absolute;
  left:245px;
  top:101px;
  width:113px;
  height:30px;
  font-size:14px;
}
#u5082_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(239, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5082.mouseOver {
}
#u5082_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5082.selected {
}
#u5083 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u5084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5084 {
  position:absolute;
  left:930px;
  top:104px;
  width:43px;
  height:16px;
}
#u5085 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5086 {
  position:absolute;
  left:1014px;
  top:99px;
  width:195px;
  height:25px;
  font-size:14px;
}
#u5087 {
  position:absolute;
  left:2px;
  top:4px;
  width:191px;
  word-wrap:break-word;
}
#u5088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u5088 {
  position:absolute;
  left:1186px;
  top:107px;
  width:15px;
  height:9px;
  font-size:14px;
}
#u5089 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5090 {
  position:absolute;
  left:155px;
  top:151px;
  width:43px;
  height:16px;
}
#u5091 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5092 {
  position:absolute;
  left:253px;
  top:147px;
  width:195px;
  height:25px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5093 {
  position:absolute;
  left:2px;
  top:4px;
  width:191px;
  word-wrap:break-word;
}
#u5094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u5094 {
  position:absolute;
  left:425px;
  top:155px;
  width:15px;
  height:9px;
  font-size:14px;
}
#u5095 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5096 {
  position:absolute;
  left:458px;
  top:147px;
  width:195px;
  height:25px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5097 {
  position:absolute;
  left:2px;
  top:4px;
  width:191px;
  word-wrap:break-word;
}
#u5098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u5098 {
  position:absolute;
  left:630px;
  top:155px;
  width:15px;
  height:9px;
  font-size:14px;
}
#u5099 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(31, 173, 246, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5100 {
  position:absolute;
  left:180px;
  top:58px;
  width:67px;
  height:22px;
  color:#FFFFFF;
}
#u5101 {
  position:absolute;
  left:2px;
  top:3px;
  width:63px;
  word-wrap:break-word;
}
#u5102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1358px;
  height:2px;
}
#u5102 {
  position:absolute;
  left:146px;
  top:176px;
  width:1357px;
  height:1px;
}
#u5103 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
  background:inherit;
  background-color:rgba(31, 173, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  color:#FFFFFF;
}
#u5104 {
  position:absolute;
  left:710px;
  top:238px;
  width:79px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u5105 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u5106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u5106 {
  position:absolute;
  left:1380px;
  top:530px;
  width:29px;
  height:15px;
  color:#0066FF;
}
#u5107 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u5108 {
  position:absolute;
  left:1381px;
  top:630px;
  width:29px;
  height:15px;
  color:#0066FF;
}
#u5109 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u5110 {
  position:absolute;
  left:1381px;
  top:724px;
  width:29px;
  height:15px;
  color:#0066FF;
}
#u5111 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u5112 {
  position:absolute;
  left:1381px;
  top:824px;
  width:29px;
  height:15px;
  color:#0066FF;
}
#u5113 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5114 {
  position:absolute;
  left:930px;
  top:148px;
  width:43px;
  height:16px;
}
#u5115 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5116 {
  position:absolute;
  left:1014px;
  top:143px;
  width:195px;
  height:25px;
  font-size:14px;
}
#u5117 {
  position:absolute;
  left:2px;
  top:4px;
  width:191px;
  word-wrap:break-word;
}
#u5118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u5118 {
  position:absolute;
  left:1186px;
  top:151px;
  width:15px;
  height:9px;
  font-size:14px;
}
#u5119 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1358px;
  height:2px;
}
#u5120 {
  position:absolute;
  left:146px;
  top:220px;
  width:1357px;
  height:1px;
}
#u5121 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5122 {
  position:absolute;
  left:155px;
  top:192px;
  width:71px;
  height:16px;
}
#u5123 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5124 {
  position:absolute;
  left:361px;
  top:182px;
  width:113px;
  height:30px;
  font-size:14px;
}
#u5124_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(239, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5124.mouseOver {
}
#u5124_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5124.selected {
}
#u5125 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u5126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5126 {
  position:absolute;
  left:245px;
  top:182px;
  width:113px;
  height:30px;
  font-size:14px;
}
#u5126_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(239, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5126.mouseOver {
}
#u5126_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5126.selected {
}
#u5127 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u5128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5128 {
  position:absolute;
  left:484px;
  top:182px;
  width:113px;
  height:30px;
  font-size:14px;
}
#u5128_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(239, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5128.mouseOver {
}
#u5128_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5128.selected {
}
#u5129 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
