body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1966px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:949px;
}
#u6241 {
  position:absolute;
  left:0px;
  top:1px;
  width:1920px;
  height:949px;
}
#u6242 {
  position:absolute;
  left:2px;
  top:466px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6243 {
  position:absolute;
  left:118px;
  top:214px;
  width:126px;
  height:60px;
}
#u6244 {
  position:absolute;
  left:2px;
  top:22px;
  width:122px;
  word-wrap:break-word;
}
#u6245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6245 {
  position:absolute;
  left:118px;
  top:281px;
  width:126px;
  height:60px;
}
#u6246 {
  position:absolute;
  left:2px;
  top:22px;
  width:122px;
  word-wrap:break-word;
}
#u6247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  background:inherit;
  background-color:rgba(54, 130, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6247 {
  position:absolute;
  left:118px;
  top:351px;
  width:126px;
  height:60px;
  color:#FFFFFF;
}
#u6248 {
  position:absolute;
  left:2px;
  top:22px;
  width:122px;
  word-wrap:break-word;
}
#u6249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1712px;
  height:188px;
}
#u6249 {
  position:absolute;
  left:254px;
  top:217px;
  width:1712px;
  height:188px;
}
#u6250 {
  position:absolute;
  left:2px;
  top:86px;
  width:1708px;
  visibility:hidden;
  word-wrap:break-word;
}
