body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:683px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:451px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u717 {
  position:absolute;
  left:97px;
  top:72px;
  width:586px;
  height:451px;
}
#u718 {
  position:absolute;
  left:2px;
  top:218px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:2px;
}
#u719 {
  position:absolute;
  left:104px;
  top:117px;
  width:520px;
  height:1px;
}
#u720 {
  position:absolute;
  left:2px;
  top:-8px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u721 {
  position:absolute;
  left:646px;
  top:88px;
  width:16px;
  height:16px;
}
#u722 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u723 {
  position:absolute;
  left:112px;
  top:87px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u724 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u725 {
  position:absolute;
  left:213px;
  top:92px;
  width:298px;
  height:16px;
}
#u726 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
#u727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u727 {
  position:absolute;
  left:118px;
  top:213px;
  width:127px;
  height:16px;
}
#u728 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u729 {
  position:absolute;
  left:245px;
  top:202px;
  width:379px;
  height:37px;
}
#u730 {
  position:absolute;
  left:2px;
  top:10px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u731 {
  position:absolute;
  left:252px;
  top:213px;
  width:25px;
  height:16px;
  color:#999999;
}
#u732 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u733 {
  position:absolute;
  left:117px;
  top:263px;
  width:99px;
  height:16px;
}
#u734 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u735 {
  position:absolute;
  left:245px;
  top:254px;
  width:180px;
  height:37px;
  color:#FFFFFF;
}
#u736 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u737 {
  position:absolute;
  left:444px;
  top:253px;
  width:180px;
  height:37px;
}
#u738 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u739 {
  position:absolute;
  left:120px;
  top:156px;
  width:43px;
  height:16px;
}
#u740 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u741 {
  position:absolute;
  left:245px;
  top:146px;
  width:377px;
  height:37px;
  color:#999999;
  text-align:left;
}
#u742 {
  position:absolute;
  left:2px;
  top:10px;
  width:373px;
  word-wrap:break-word;
}
#u743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u743 {
  position:absolute;
  left:395px;
  top:455px;
  width:111px;
  height:36px;
}
#u744 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u745 {
  position:absolute;
  left:516px;
  top:455px;
  width:111px;
  height:36px;
}
#u746 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u747 {
  position:absolute;
  left:117px;
  top:361px;
  width:43px;
  height:16px;
}
#u748 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u749 {
  position:absolute;
  left:245px;
  top:348px;
  width:378px;
  height:77px;
}
#u750 {
  position:absolute;
  left:2px;
  top:30px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u751 {
  position:absolute;
  left:114px;
  top:313px;
  width:71px;
  height:16px;
}
#u752 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u753 {
  position:absolute;
  left:245px;
  top:301px;
  width:379px;
  height:37px;
}
#u754 {
  position:absolute;
  left:2px;
  top:10px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u755 {
  position:absolute;
  left:252px;
  top:312px;
  width:25px;
  height:16px;
  color:#999999;
}
#u756 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u757 {
  position:absolute;
  left:252px;
  top:361px;
  width:265px;
  height:16px;
  color:#CCCCCC;
}
#u758 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
