body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1428px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1428px;
  height:706px;
}
#u2611 {
  position:absolute;
  left:0px;
  top:0px;
  width:1428px;
  height:706px;
}
#u2612 {
  position:absolute;
  left:2px;
  top:345px;
  width:1424px;
  visibility:hidden;
  word-wrap:break-word;
}
